body{
    margin: 0;
    background-color: #faf0e6;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Vollkorn", "Poppins";
}

/* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */


#main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    user-select: none;
}


/* page 1 */
.container, .container-2, .container-3{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container > img{
    width: 20%;
    margin-bottom: 30px;
    margin-top: 10px;
}

.container > img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.startNow{
    font-size: large;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    padding-inline: 1rem;
    border-radius: 8px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    cursor: pointer;
}

.startNow h2{
    margin: 0.6rem;
}

.startNow:hover{
    background-image: linear-gradient(to right, #762ec4e1 0%, #1767f2 100%);
}

.continue{
    text-align: center;
    cursor: pointer;
}

.continue:hover{
    text-decoration-line: underline;

}

.display-show{
    display: block;
}







/* container 2 */
.container-2{
    display: none;
}

.content2{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logoAndAudio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.logoAndAudio > img{
    margin: auto;
    /* max-width: 10%; */
    height: 150px;
}

.logoAndAudio > img:hover{
    transform: scale(1.2);
}

.volume-And-questionCount{
    display: flex;
    align-items: end;
    flex-direction: column;
}

.audio{
    margin-bottom: 15px;
}

.audio-icon-toggle{
    display: none;
}

.question-count{
    background-color:#FEC33D;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    width: 50px;
    margin-left: 60px;
}

.question-count > p{
    margin: 0;
    font-weight: bold;
    width: 100%;
    height: 100%;
}


/* question */
.question, .optt{
    background-color: beige;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    text-align: start;
    width: 100%;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.optt:hover{
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.ques{
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* count-down */
.count-down{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.count-down > p{
    width: 50px;
    background-color: #09af11;
    padding: 10px 5px 10px 10px;
    font-weight: 700;
    border-radius: 5px;
    margin: 12px;
}

.timeTenSec{
    background-color: red;
}



/* options */
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.option{
    padding-inline: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    cursor: pointer;
}

/* .option:hover{
} */

.option > p{
    margin: 10px;
}


.correctAnswer{
    /* border: 3px solid #35BD3A; */
    border-radius: 10px;
    background-color: greenyellow;
    font-weight: 800;
    box-shadow: 0 0 20px #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.incorrectAnswer{
    border: 3px solid red;
    font-weight: 800;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.673);
    box-shadow: 0 0 20px #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.icon{
    width: 20px;
    height: 20px;
    display: none;
}

.correct-icon{
    display: block;
}

.incorrect-icon{
    display: block;
}

.noClick{
    pointer-events: none;
}


.skipQuestionBtn {
    border-radius: 8px;
    border: none;
    background: transparent;
    font-weight: bolder;
    margin-left: auto;
    font-size: medium;
    color: green;
    margin-top: 12px;
    cursor: pointer;
    padding: 0.4rem;
    padding: 15px 45px;
    background-color: greenyellow;
}

.skipQuestionBtn:hover{
    box-shadow: 0 0 20px #eee;
    color: rgba(0, 128, 0, 0.632);
}

.skipBtnDisable{
    color: rgba(0, 128, 0, 0.286);
    text-decoration-line: line-through;
}




/* container 3- result */

.container-3{
    display: none;
}


.container-3 > img{
    width: 15%;
}


.bar{
    width: 500px;
    height: 60px;
    background-color: #0049531a;
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}



.result > h3{
    padding-left: 20px;
}

.result{
    width: 300px;
    background: #05f43d5e;
    background: linear-gradient(135deg, #05F43D, #53F230);
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.correctAnswers{
    text-align: center;
    font-size: large;
    font-weight: 600;
}

.report-container{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px, rgba(0, 0, 0, 0.45) 0px -15px 20px -20px; 
    margin: 0.8rem;
    font-size: large;
}

.retryBtn{
    margin-top: 5px;
    padding: 15px;
    font-size: large;
    font-weight: bolder;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}


.retryBtn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



/* footer */
footer{
    margin-top: auto;
    padding-bottom: 5px;
}

footer > p{
    text-align: center;
    font-size: small;
    margin: 0;
}




@media(max-width: 768px){

    #main{
        width: 100%;
        height: 100vh;
    }

    .container > img{
        min-width: 300px;  
        margin-bottom: 10px;
    }

    .startNow{
        min-width: 40px;
        min-height: 40px;
        font-size: 10px;
        font-weight: 300;
    }

    /* container 2 */
    .content2{
        width: 75%;
    }
    
    .logoAndAudio{
        margin-bottom: 20px;
    }

    .logoAndAudio > img{
        min-width: 110px;
        margin-top: 20px;
    }


    .question-count, .count-down > p{
        width: 40px;
        padding: 8px 5px 8px 5px;
        text-align: center;
        font-size: 80%;
        font-weight: 700;
        width: 40px;
        margin-left: 40px;
    }

    .question{
        font-size: 90%;
        text-align: start;
        font-weight: bolder;
    }

    .option{
        margin: 5px;
        font-size: 80%;
        padding-inline: 3px;
    }

    .option > p{
        margin: 10px;
    }


    .skipQuestionBtn{
        font-weight: bold;
        margin-left: auto;
        font-size: medium;
        margin-top: 20px;
    }


    /* footer */
    footer{
        margin-top: auto;
        padding: 5px;
    }

    footer > p{
        text-align: center;
        font-size: x-small;
        color: gray;
    }


    /* container 3 */
    .container-3 > h2{
        font-size: medium;
    }

    .container-3 > img{
        width: 40%;
    }

    .bar{
        max-width: 60%;
        height: 60px;
    }

    .result > h3{
        padding-left: 15px;
        margin-top: 23px;
        font-size: medium;
    }

    .correctAnswers{
        text-align: center;
        font-size: 15px;
        font-weight: 600;
    }

    .report{
        font-size: medium;
    }

    .retryBtn{
        font-size: medium;
    }
}



@media (min-width: 769px) and (max-width: 1024px){

    .container > img{
        min-width: 400px;  
        margin-bottom: 20px;
    }

    .startNow{
        font-size: large;
        font-weight: 600;
    }

    .container-3 > img{
        width: 25%;
    }


    /* container 2 */
    .logoAndAudio > img{
        min-width: 150px;
        margin-top: 5px;
    }


    .skipQuestionBtn{
        font-weight: bolder;
        margin-left: auto;
        font-size: large;
        margin-top: 25px;
    }


    .question-count, .count-down > p{
        width: 40px;
        padding: 10px 8px 10px 8px;
        font-size: 90%;
    }

    .question{
        font-size: 100%;
    }

    .option{
        margin: 8px;
        font-size: 75%;
        padding-inline: 3px;
    }

    .option > p{
        margin: 10px;
    }



    /* container 3 */
        .bar{
            width: 60%;
            height: 65px;
        }
    
        .result > h3{
            padding-left: 20px;
            margin-top: 24px;
            font-size: larger;
        }
    
        .correctAnswers{
            font-size: x-large;
        }
    

}

